[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
discord = {git = "https://github.com/Rapptz/discord.py.git",ref = "rewrite"}
asyncpg = "*"
pyyaml = "*"
colorlog = "*"
click = "*"

[dev-packages]

[requires]
python_version = "3.7"
